@charset "utf-8";
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea{
	margin:0;
	padding:0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* contant开始 */
.contant{
    width: 1200px;
    /*height: 2000px;*/
    padding-top: 32px;
    padding-bottom: 40px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 40px;
    background: white;
    box-shadow: 0 0 35px #e3e3e3;
}

/* contant下的第一部分
con_head开始 */
.con_head{
    padding: 0 54px;
    overflow: hidden;
}
.con_head img:first-child{
    margin-left: 15px;
    width: 243px;
    height: 83px;
    float: left;
}
.search{
    font-size: 12px;
    margin-top: 30px;
    float: left;
    padding: 0 70px;
    color: #8d8d8d;
    position: relative;
}
.con_head input:first-child{
    text-indent: 8px;
    border: none;
    outline: none;
    width: 402px;
    height: 25px;
    background: url(../img/searchlist.png);
    background-size: 402px 25px;
}
.search .btn{
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 430px;
    width: 40px;
    height: 24px;
    background: url(../img/icons.png);
    background-position: -606px 898px;
    border: none;
    outline: none;
}
.search p{
    line-height: 38px;
}
.search a{
    color: #8d8d8d;
    padding: 0 3px;
}
#logo_jinqiu{
    margin-top: 30px;
    width: 110px;
    height: 51px;
    float: left;
    margin-right: 45px;
}
.car{
    margin-top: -50px;
    width: 121px;
    line-height: 39px;
    height: 39px;
    color: #009c4c;
    border: 1px solid #009c4c;
    float: right;
    position: relative;
}
.car .car_i{
    float: left;
    margin:0 3px 0 13px; 
    width: 27px;
    height: 39px;
    background: url(../img/icons.png);
    background-position: -475px 143px;
}
.car p{
    line-height: 39px;
}
.car b{
    color: white;
    display: inline-block;
    line-height: 20px;
    position: absolute;
    top: 1px;
    right: 4px;
    min-width: 20px;
    height: 20px;
    text-align: center;
    background: #f07641;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
/* contant下的第一部分
con_nav开始 */
.con_nav{
    margin-top: 15px;
    width: 1200px;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
    color: #333333;
}
.con_nav a{
    padding: 12px 20px;
    color: #333333;
}
.con_nav a:nth-child(1){
    padding-left: 68px;
}
.con_nav i{
    display: inline-block;
    margin-left: 58px;
    width: 12px;
    height: 12px;
    background: url(../img/icons.png);
    background-position: 449px 327px;
}
.con_nav a:hover{
    background: #e0e0e0;
    text-decoration: none;
}
.con_nav a:nth-child(2),.con_nav a:nth-child(3){
    position: relative;
}
.con_nav a b{
    width: 36px;
    height: 24px;
    position: absolute;
    top: -11px;
    left: 57px;
}
/* contant下的第一部分
con_banner开始 */
.con_banner{
    width: 100%;
    height: 430px;
    background: url(../img/banner1.jpg);
}
.uls li{
    text-align: center;
    width: 222px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    color: #e0e0e0;
    background: rgba(233, 232, 233, .7);
    border-bottom: 1px solid white;
}
.uls li a{
    color: #333;
    text-decoration: none;
}
.con_banner .uls li:hover a{
    color: #009c4c;
}
.con_banner .uls li:hover strong{
    margin-right: 25px;
    background: url(../img/icons.png);
    background-position:93px 189px;
}
.uls strong{
    width: 7px;
    height: 11px;
    float: right;
    margin: 9px 22px 0 0 ;
    background: url(../img/icons.png);
    background-position: 110px 189px;
}
/* contant下的第一部分
con_banner开始 */
.con_show{
    padding: 21px 2px;
    overflow: hidden;
}
.show_box{
    height: 268px;
    width: 397px;
    float: left;
    position: relative;
    /* overflow: hidden; */
}
.show_box:nth-child(2){
	margin: 0 2px;
}
.con_show img{
    height: 268px;
    width: 397px;
    display: block;
}
.show_one_img{
    height: 268px;
    width: 397px;
}
.show_box:hover{
    display: block;
}
.show_one_zhe{
    position: absolute;
    top: 0;
    left: 0;
    background: #333;
    opacity: .4;
    height: 268px;
    width: 397px;
    /* z-index: 1;
    display: none; */
}
//
.con_imgbox{
	width: 100%;
	height: 300px;
}
.con_imgbox img{
	display: block;
	margin-bottom: 21px;
}
/* contant下的第一部分
con_pulic开始 */
.con_pulic{
	overflow: hidden;
}
.public_top{
	margin: 21px 0;
}
.public_bot{
	overflow: hidden;
}
.public_left{
	width: 358px;
	height: 666px;
	overflow: hidden;
	float: left;
	margin: 0 8px;
	box-shadow: 0 0 7px #e3e3e3;
}
.public_left img{
	width: 358px;
	height: 666px;
}
.public_right{
	width: 825px;
	float: right;
}
.public_right ul{
	width: 100%;
    overflow: hidden;
    border-top: 1px solid #e2e6e4;
    border-left: 1px solid #e2e6e4;
}
.public_right li{
	width: 33.33%;
	float: left;
}
.public_imgBox{
	height: 292px;
    overflow: hidden;
	position: relative;
	padding: 20px 29px;
	border-right: 1px solid #e2e6e4;
}
.public_imgBox_img{
	width: 215px;
	height: 215px;
}
.public_imgBox_title{
	overflow: hidden;
	height: 42px;
	color: #737373;
}
.public_imgBox #zhongliang{
	line-height: 20px;
	font-size: 12px;
	color: #737373;
}
.public_imgBox #price{
	font-size: 18px;
	color: #009C4C;
} 
.public_imgBox del {
    color: #737373;
    font-size: 14px;
    margin-left: 20px;
    font-weight: normal;
}
.uls_two{
	border-bottom: 1px solid #e2e6e4;
}
.public_caricons{
	position: absolute;
	right: 32px;
	bottom: 6px;
	width: 40px;
	height: 40px;
	background: url(../img/icons.png);
	background-position: 213px 256px;
}
